/* Layout */

html,
body {
  margin:0;
  padding:0;
  height:100%;
  overflow-x: hidden;
}

p {
  margin: 0em 0em 1em;
  line-height: 1.4285em;
}
#container {
  height: 100%;
  min-height: 100%;
  position: relative;
}

#body {
  min-height: 100%;
}

#footer {
  bottom: 0;
  width: 100%;
  height: 50px;   /* Height of the footer */
  text-align: center;
}

/* Forms */

.form-user {
  width: 33% !important;
  margin: 0 auto !important;
  margin-top: 10% !important;
}

.form-wallet {
  width: 90% !important;
}

.form-error {
  color: #E50000 !important;
}

/* Flask flashes */

.flash {
  margin-right: 20px !important;
}

/* Errors */

.error-box {
  margin-top: 8%;
}

/* Footer Icon */

.footer-icon {
  width: 14px;
}

/* Misc */

.hr {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #EEEEEE -moz-use-text-color #FFFFFF;
  border-style: solid none;
  border-width: 1px 0;
  margin: 18px 0;
}

/* Semantic UI Homepage Theme */

/* Menus */

.ui.menu .item:before {
  width: 0em;
}

.ui.menu {
  padding-left: 5em;
  padding-right: 5em;
  padding-top: 2em;
}

/* Containers and Grids */

.ui.page.grid {
  padding-left: 0em;
  padding-right: 0em;
}
.ui.horizontal.divider:before {
  border-top: 0px;
}
.ui.horizontal.divider:after {
  border-top: 0px;
}

.masthead h1.ui.header {
  margin-top: 3em;
  margin-bottom: 0em;
  font-size: 4em;
  font-weight: normal;
}
.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}
.ui.horizontal.divider:after, .ui.horizontal.divider:before{
  border-top: 0px;
}
.ui.vertical.stripe {
  padding: 12em 0em;
}
.ui.vertical.stripe h3 {
  font-size: 2em;
}
.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3 {
  margin-top: 3em;
}
.ui.vertical.stripe .floated.image {
  clear: both;
}
.ui.vertical.stripe p {
  font-size: 1.33em;
}
.ui.vertical.stripe .horizontal.divider {
  margin: 3em 0em;
}
.quote.stripe.segment {
  padding: 0em;
}
.quote.stripe.segment .grid .column {
  padding-top: 5em;
  padding-bottom: 5em;
}
.footer.segment {
  padding: 5em 0em;
}

/* Menu Items */

.secondary.pointing.menu .toc.item {
  display: none;
}
@media only screen and (max-width: 700px) {
  .ui.fixed.menu {
    display: none;
  }
  .secondary.pointing.menu .item,
  .secondary.pointing.menu .menu {
    display: none;
  }
  .secondary.pointing.menu .toc.item {
    display: block;
  }
  .masthead h1.ui.header {
    font-size: 2em;
    margin-top: 1.5em;
  }
  .masthead h2 {
    margin-top: 0.5em;
    font-size: 1.5em;
  }
}

.row .center {
  text-align: center !important;
}

.ui.github.container {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.ui.github.elements {
  padding-right: 2em;
  padding-bottom: 1em;
  
}

/* Typography */

.ui.header {
  padding-top: 25px;
}

/* Flash messages */
ul .positive .message{
  color: #1b1c1d;
}

ul {
  -webkit-margin-after: 0em;
  -webkit-margin-before: 0em;
  background-color: #1b1c1d;
}