{% extends 'admin/master.html' %}

{% block body %}

<div class="col-md-12">

  <p class="lead text-left">
    {{ status_account.username }}
    <span class="lead" style="float: right;">
      {{ status_account.address }}
    </span>
  </p>

  <hr>

</div>

<div class="col-md-6">

  <h1 class="ui header">Wallet Info</h1>
  
  <h3 class="ui header">OffChain Balance: </h3>
  <h4 class="ui header">{{ status_wallet.twentyone_balance }}</h4>

  <h3 class="ui header">OnChain Balance: </h3>
  <h4 class="ui header">{{ status_wallet.onchain }}</h4>

  <h3 class="ui header">Currently Flushing: </h3>
  <h4 class="ui header">{{ status_wallet.flushing }}</h4>

  
  <form id="flushEarnings" action="/admin/dashboard/" method="post" style=" padding-top: 10px;">
    <button class="ui primary button" type="submit" form="flushEarnings">Flush Earnings</button>
  </form>
  
  <h4 class="ui header" style="display: inline;">{{ flush_message }}</h4>

</div>


<div class="col-md-6">

  <h1 class="ui header">Mining Info</h1>

  <h3 class="ui header">Status: </h3>
  <h4 class="ui header">{{ status_mining.is_mining }}</h4>


  <h3 class="ui header">Hashrate: </h3>
  <h4 class="ui header">{{ status_mining.hashrate }}</h4>

  <h3 class="ui header">Total Mined: </h3>
  <h4 class="ui header">{{ status_mining.mined }} Satoshis</h4>

</div>

<div class="col-md-12">

  <hr>
  
</div>

<div class="col-md-6">

  <h3 class="ui header">Total Payouts: {{ status_earnings.total_payouts }}</h3>

</div>

<div class="col-md-6">

  <h3 class="ui header">Total Earnings: {{ status_earnings.total_earnings }}</h3>

</div>

<div class="col-md-6">

</div>

{% endblock %}
