<!-- HTML macros -->
{% import "macros.html" as m %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <div id="header">
      {% block head %}
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
      <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
      <!-- jQuery -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
      <!-- Semantic Library -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
      <!-- Semantic CSS Components -->
      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.6/components/reset.min.css"/>
      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.6/components/menu.min.css"/>

      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.6/components/site.min.css"/>
      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.6/components/container.min.css"/>
      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.6/components/grid.min.css"/>
      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.6/components/header.min.css"/>
      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.6/components/image.min.css"/>

      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.6/components/divider.min.css"/>
      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.6/components/dropdown.min.css"/>
      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.6/components/segment.min.css"/>
      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.6/components/button.min.css"/>
      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.6/components/list.min.css"/>
      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.6/components/icon.min.css"/>
      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.6/components/sidebar.min.css"/>
      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.6/components/transition.min.css"/>
      <!-- Main Semantic JS  -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.6/components/visibility.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.6/components/sidebar.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.6/components/transition.js"></script>
      <!-- Custom CSS -->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
      <!-- Main Crypto Library -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/sjcl/1.0.0/sjcl.min.js"></script>
      <script>
	$(document)
	.ready(function() {
	  // fix menu when passed
	  $('.masthead')
	    .visibility({
              once: false, 
              onBottomPassed: function() {
	        $('.fixed.menu').transition('fade in');
	      }, 
              onBottomPassedReverse: function() {
	        $('.fixed.menu').transition('fade out');
	      }
	  });
	  // create sidebar and attach to menu open
	  $('.ui.sidebar')
	  .sidebar('attach events', '.toc.item');
	});
      </script>
    </div>
  </head>
  <!-- Browser tab name -->
  <title>{{ title }}</title>
  <!-- Navbar -->
  <div class="ui large attached inverted pointing menu">
    {{ m.nav_link('index', 'Home') }}
    {{ m.nav_link('map', 'Map') }}
    {{ m.nav_link('marketplace', 'Marketplace') }}    
    <div class="right menu">
      <!-- User is logged in -->
      {% if current_user.is_authenticated %}
      <div class="item">
	<a class="ui inverted button" href="/user/account">{{ current_user.name }} {{ current_user.surname }}</a>
      </div>
      <div class="item">
	<a class="ui inverted button" href="/user/signout">Sign out</a>
      </div>
      <!-- User is not logged in -->
      {% else %}
      <div class="item">
	<a class="ui inverted button" href="/user/signin">Log in</a>
      </div>
      <div class="item">
	<a class="ui inverted button" href="/user/signup">Sign up</a>
      </div>
      {% endif %}
    </div>
  </div>
  {% endblock %}
</div>

<!-- Message flashing -->
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<ul>
  {% for category, message in messages %}
  <li class="ui {{ category }} message flash">{{ message }}</li>
  {% endfor %}
</ul>
{% endif %}
{% endwith %}
<div id="body" class="body">
  {% block content %}{% endblock %}
</div>
<div id="footer">
  <div class="ui inverted vertical footer segment">
    <div class="ui container">
      <div class="ui stackable inverted divided equal height stackable grid">
	<div class="three wide column">
	  <h4 class="ui inverted header">Resources</h4>
	  <div class="ui inverted link list">
	    <a href="https://21.co/setup/" class="item" target="_blank">Setup Guide</a>
	    <a href="https://github.com/shayanb/two1" class="item" target="_blank">Two1 Library on Github</a>
	    <a href="https://slack.21.co/" class="item" target="_blank">Join the Discussion</a>
	    <a href="https://www.amazon.com/gp/product/B014RD021C" class="item" target="_blank">Purchase</a>
	    <a href="https://21.co/learn/" class="item" target="_blank">Tutorials</a>
	  </div>
	</div>
	<div class="three wide column">
	  <h4 class="ui inverted header">Find us Online</h4>
	  <div class="ui inverted link list">
	    <a href="https://twitter.com/21" class="item" target="_blank">@21 on Twitter</a>
	    <a href="https://twitter.com/21reddit" class="item" target="_blank">@21reddit on Twitter</a>
	    <a href="https://www.reddit.com/r/21bc" class="item" target="_blank">r/21bc</a>
	    <a href="https://www.reddit.com/r/21dotco" class="item" target="_blank">r/21dotco</a>
	  </div>
	</div>
	<div class="seven wide column">
	  <h4 class="ui inverted header">Footer Header</h4>
	  <p>Bacon ipsum dolor amet pork loin frankfurter turkey, flank shoulder short ribs filet mignon pork belly sausage spare ribs tri-tip porchetta leberkas turducken hamburger.</p>
	</div>
      </div>
    </div>
  </div>
</html>
