{% extends "layout.html" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
        <!-- Override custom css to render gist properly-->
        <style>
	  ul {
	    background-color: #FFF;
	  }
	</style>

	{% if current_user.is_authenticated %}
		<div class="ui container">
        	  <h1 class="ui header">{{ title }}</h1>
	  	  <h3 class="ui header">To access the in-app wallet service, install BitGo Express using the instructions below and restart the server</h3>
		     <script src="https://gist.github.com/masonicGIT/1e89791a18b717aefd96.js"></script>
		</div>
	{% endif %}

{% endblock %}
