{% extends "layout.html" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}

    {% if current_user.is_authenticated %}
    
    <div class="ui page grid">
      <div class="two column row">
        <div class="column">
	  <h1 class="ui header">{{ title }}</h1>
	  <h2 class="ui header">Hi {{ current_user.name }}!</h2>
	  <h4 class="ui header">Your balance is: {{ balance }} Satoshis</h4>
	  <h4 class="ui header">Your address is: {{ address }}</h4>
	  <form id="generateAddress" action="/wallet" method="get">
	    <button class="ui primary button" type="submit" form="generateAddress">Generate Address</button>
	  </form>
	</div>

	<div class="column">
	  <div class="ui form-wallet center raised very padded text container segment">
	    <form id="sendBitcoin" class="ui form" action="/wallet" method="post">
	      <h4 class="ui dividing header">Send</h4>
		{{ m.render_field(form.address) }}
		{{ m.render_field(form.amount) }}
		{{ form.csrf_token }}
	      <button class="ui primary button" type="submit" form="sendBitcoin">Send</button>
	    </form>
	  </div>	  
	</div>
      </div>
  {% endif %}    

{% endblock %}
